{% load i18n %}
{% spaceless %}

<head>
  
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>


<div class="wrapper wrapper--xblock wrapper--openassessment theme--basic">
    <div class="openassessment problem">
        <div class="wrapper--grid">
            {% if title %}
                <h3 class="openassessment__title problem__header">{% trans title %}</h3>
            {% endif %}

            <div class="wrapper-openassessment__message">

                {% block message %}
                <div class="openassessment__message message">
                    <div class="message__content">
                        <p>{% trans "This assignment has several steps. In the first step, you'll provide a response to the prompt. The other steps appear below the Your Response field." %}</p>
                    </div>
                </div>
                {% endblock %}
            </div>


            <div id="games" class="machineBoxs">
                <div class="machineBox col-xs-4 col-sm-2">
                  <a data-toggle="modal" data-target="#assignModalInfo1" data-nth="1" class="indexGame">
                    <img width="100%" src="/asset-v1:edX+DemoX+Demo_Course+type@asset+block@broke-01.png" />
                  </a>
                </div>
            </div>


            <div id="assignModalInfo1" class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">&times;</span>
                        <span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="myModalLabel">歡迎進入 玩電玩・學程式 的世界！</h4>
                    </div>
                    <div class="modal-body">
                      <div class="btn btn-primary authBtn">
                        <div class="fb-login-button" data-onlogin="fb_login" data-size="large" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                      </div>
            
                      <a class="btn btn-default authBtn" href="signup.html">
                                課程學生註冊
                            </a>
                      <div id="status">
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>



            <ol class="openassessment__steps">
                {% for assessment in rubric_assessments %}
                    <li class="{{ assessment.class_id }} openassessment__steps__step is--loading">
                        <header class="step__header ui-slidable__container">
                            <h4 class="step__title">
                                <button class="ui-slidable" aria-expanded="false" aria-describedby="oa_step_status oa_step_deadline" disabled>
                                    <span class="step__counter"></span>
                                    <span class="wrapper--copy">
                                        <span class="step__label">{% trans assessment.title %}</span>
                                    </span>
                                </button>
                            </h4>
                            <span class="step__status">
                                <span id="oa_step_status" class="step__status__value">
                                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                                  <span class="copy">{% trans "Loading" %}</span>
                                </span>
                            </span>
                        </header>
                    </li>
                {% endfor %}
            </ol>

            {% if show_staff_area %}
                <div class="openassessment__staff-area"></div>
            {% endif %}
        </div>
    </div>
    <div class="sr reader-feedback" aria-live="polite"></div>
</div>


{% endspaceless %}
